* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}

body {
  padding: 10px;
}

.green {
  color: green;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

.cloud {
  overflow: auto;
}

.cloud ul {
  padding: 0px;
  position: relative;
  margin-bottom: 50%;
  list-style: none;
}

.cloud li {
  position: absolute;
  white-space: nowrap;
  padding: .1em;
  cursor: pointer;
}

.cloud li:hover {
  text-decoration: underline;
}

@media (min-width: 600px) {
  .cloud ul {
    position: absolute;
    top: 90px;
    left: 0px;
    right: 0px;
    margin-right: 300px;
  }

  .topic {
    position: absolute;
    right: 0px;
    top: 90px;
    width: 300px;
  }
}