<p>Information on topic "<%= label %>":</p>

<p>Total mentions: <%= volume %></p>

<p>
  <% if(sentiment.positive) { %>
    Positive mentions:
      <span class="green">
        <%= sentiment.positive %>
      </span><br />
  <% } %>
  <% if(sentiment.neutral) { %>
    Neutral mentions:
      <span class="grey">
        <%= sentiment.neutral %>
      </span><br />
  <% } %>
  <% if(sentiment.negative) { %>
    Negative mentions:
      <span class="red">
        <%= sentiment.negative %>
      </span><br />
  <% } %>
</p>